/* Acá van tus reglas de estilo */
html {
    box-sizing: border-box;
    font-size: 30px;
}

body {
    background-color: #9cff33;
    max-width: 1500px;
}
header {
    padding: 100px 100px;
    padding-bottom: 150px;
    background-image: url("https://user-images.githubusercontent.com/50186958/58895917-99918280-86ba-11e9-82f9-7868a4c775b8.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    opacity: 0.9;
    font-size: 40px;
    vertical-align: middle;
    text-align:center;
  }
h1 {
    padding: 3px 3px 3px 7px;
    text-align: right;
    text-shadow: 2px 2px 2px orangered;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}

.img1 {
    width: 40%;
    border: 1px solid #ccc;
    margin: 20px 40px;
    padding: 20px;
    float: left;
}

.formulario {
    width: 40%;
    border: 1px solid #ccc;
    margin: 20px 40px;
    padding: 20px;
    display: inline-block;
    color: darkblue;
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
}

label{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.box{
    margin-bottom: 20px;
    width: 60%;
    padding: 10px;
}
.box:focus{
    border: 1px solid #1668c4;
}
button[type='submit']{
    background: #1668c4;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
    width: 30%;
    padding: 10px;
}
button[type='submit']:hover{
    background: #4a88f4;
    cursor: pointer;
}
.btn {
    background: rgb(243, 220, 10);
    color: rgb(114, 104, 101);
    border: none;
    padding:10px;
    margin: 60px;
    font-size: 30px;
    width: 30%;
}

footer{
    clear: both;
    text-align: center;
    font-size: 15px;
}