/* Acá van tus reglas de estilo */
body {
    background-color: #9cff33;  
    height:100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
}
  .logo {
      width:100%;
      height: 75px;  
  }
  main{
      flex:1;
  }
  .container {
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      justify-content: center;
      align-content: space-around;
  }
  h1 {
    overflow: hidden;
    height: 0px;
    width: 0px;
  }
  .title { 
    margin-right: 15px;
    margin: 0px;
    text-align: right;
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 2px orangered;
    font-size: 20px;
}
.subtitle {
    width: 90%;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
}
.img1 {
    width: 80%;
    align-self: center;
}
.texto {
    font-size: 15px;
    margin: 5px;
    text-align: center;
}
.formulario{
    font-size: 15px;
    text-align: center;
}
.formulario2{
    width: 100%;
    height: 80px;
    text-align: center;
}
.formulario1{
    text-align: center; 
}
.formulario3{
    font-size: 15px;
    text-align: center;
}
label{
    display: block;
    font-weight: bolder;
    color: darkblue;
}
.box{
    margin: 10px;
    width: 80%;
    padding: 7px;
}
.box:focus{
    border: 1px solid #1668c4;
}
.box1{
    margin: 10px auto;
    width: 70%;
    padding: 5px;
    font-size: 15px;
    color: darkblue;
    font-family: "sans serif", bold;  
}
button[type='submit']{
    background: #1668c4;
    color: #fff;
    font-size: 15px;
    border: none;
    width: 50%;
    padding: 10px;
}
button[type='submit']:hover{
    background: #4a88f4;
    cursor: pointer;
}
.btn {
    background: rgb(243, 220, 10);
    color: rgb(114, 104, 101);
    border: none;
    padding:10px;
    margin-top: 15px;
    margin:10px;
    font-size: 15px;
    width: 40%;
    border-radius: 20px;
}
button[type='button']:hover{
    background: #4a88f4;
    color: antiquewhite;
    cursor: pointer;
}
.highlight{
font-weight: bold;
}
.italic{
font-style: italic;
}
.alerta{
    margin: 0px 5px;
    font-size: 15px; 
    color: red;
    font-weight: bold;
    text-align: center;
  }
  .resaltar {
    color: darkblue;
    font-weight: bolder;
    font-style: italic;
}
  .img2 {
    width: 120px;
    height: 120px;
    margin: 0px;
    display:inline-flex;
    padding: 0px;
}    
.btn1 {
    background: rgb(243, 220, 10);
    color: rgb(114, 104, 101);
    border: none;
    padding:10px;
    margin:10px auto;
    font-size: 15px;
    width: 40%;
    border-radius: 20px;
}
.ventana3 .ventana6{
    flex-flow: wrap;
}
.img3{
    width: 35%;
    align-self: center;  
}
.img4{
  width: 35%;
  align-self: center;
}
.img5{
  width: 40%;
  align-self: center; 
}
.mje .mje3 .mje4{
    font-size: 15px;
}
.mje1{
    width:90%;
    margin:0px auto;
  }
  .mje2{
    width:90%;
    margin:0px auto;
  }
  footer{
    font-size: 10px;
    text-align:center;
    width: 100%;
}
.rrss{
    width: 25px;
    height: 25px;
}
.hide {
    display: none;
}
/*Aqui va mi pantalla grande */

  @media screen and (min-width:764px){
    .logo {
        width: 100%;
        height: auto;
    } 
    .container {
        flex-flow: row wrap;
        align-content: center;
        height: auto;
    }
    .ventana4{
        flex-wrap: wrap;
    }
    h1 {
      font-size: 1px;
    }
    .title {
        width: 100%;
        font-size: 35px;
    }
    .subtitle {
        width: 900px;
        font-size: 30px;
        margin: 0px;
        padding-top: 20px;
    }
    .img1 {
        width: 40%;
        height: 240px;
    }
    .img2 {
        width: 200px;
        height: 200px;
        margin-left: 40px;
        margin-right: 80px;
    }
    .texto {
        width: 90%;
        height: 35px;
        padding-top: 10px;
        font-size: 25px;
  }
  .formulario{
      width: 45%;
      font-size: 20px;
  }
  .formulario1{
    font-size: 20px;
    width: 70%;
  }
  .formulario2{
      height: 60px;
  }
  .formulario3{
    width: 70%;
    font-size: 20px; 
  }
  .box{
      padding: 10px; 
  }
  .alerta{
      font-size: 20px;
  }
  .btn1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    width: 30%;
}
figure{
    margin:10px auto;
}
.img3{
    width: 15%;
}
.img4{
    width: 300px;
    height: 150px;
}
.img5{
    width: 20%; 
  }
.mje{
    width:70%;
    font-size: 25px;
}
.mje1{
    font-size: 25px;
}
.mje2{
    width:60%;
    font-size: 25px;
    margin: 0px auto;
  }
.mje3{
    width: 40%;
    font-size: 25px;
  }
.mje4{
width: 90%;
margin: 0px;
font-size: 25px;
text-align: center;  
}
.box1{
    width: 50%;
    padding: 5px;
    font-size: 25px; 
}
.mjefinal{
    width: 70%;
}
  footer{
    display: flex;
    width: 90%;
    font-size: 15px;
    margin-left: 50px;
    padding: 0px;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: baseline;
}