/* Acá van tus reglas de estilo */
html {
    box-sizing: border-box;
    font-size: 30px;
}

body {
    font-family: 'Gochi Hand', cursive;
    background-color: #9cff33;
    max-width: 1500px;
    align-content: center;
}
header {
    padding: 100px 100px;
    padding-bottom: 150px;
    background-image: url("https://user-images.githubusercontent.com/50186958/58895917-99918280-86ba-11e9-82f9-7868a4c775b8.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    opacity: 0.9;
    
    vertical-align: middle;
    text-align:center;
  }
h1 {
    padding: 3px 3px 3px 7px;
    text-align: right;
    text-shadow: 1px 1px 1px orangered;
}
.ventana1 {
    display: inline-block;
}
.formulario {
    color: darkblue;
}

footer{
    text-align: center;
    font-size: 15px;
}